target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.jqwik-database

# IntelliJ IDEA files - excluir arquivos pessoais, mas manter configurações de execução
.idea/*
!.idea/runConfigurations/
!.idea/encodings.xml
!.idea/codeStyles/
!.idea/copyright/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# dependencies
votify-web/node_modules
votify-web/.pnp
votify-web/.pnp.*
votify-web/.yarn/*
votify-web/!.yarn/patches
votify-web/!.yarn/plugins
votify-web/!.yarn/releases
votify-web/!.yarn/versions

# testing
votify-web/coverage

# next.js
votify-web/.next/
votify-web/out/

# production
votify-web/build

# misc
.DS_Store
*.pem

# debug
votify-web/npm-debug.log*
votify-web/yarn-debug.log*
votify-web/yarn-error.log*
votify-web/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
votify-web/next-env.d.ts