@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
    --background: #efefef;
    --foreground: #171717;
    --foreground-hover: #4f4f4f;
    --primary: #757aad;
    --primary-hover: #61648e;
    --text-color: #1f2937;
    --card-bg: #fefefe;
    --card-shadow: rgba(0, 0, 0, 0.05);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a181b;
        --foreground: #eeeeee;
        --foreground-hover: #d1d1d1;
        --primary: #8f95d3;
        --primary-hover: #91a2ef;
        --border-color: #374151;
        --card-bg: #2a282b;
        --card-shadow: rgba(255, 255, 255, 0.05);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Inter, Helvetica, sans-serif;
}

svg {
    fill: currentColor;
}

#__next {
    display: grid;
    grid-template-rows: 80px 1fr 60px;
    min-height: 100vh;
}

@media only screen and (max-width: 768px) {
    .layout {
        grid-template-rows: 50px 1fr 50px;
    }
}
